{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}

<div class="d-flex justify-content-center" style="margin-top:140px;">
    {{ form_start(registrationForm) }}

        <div class="d-flex"> 
            {{ form_row(registrationForm.firstName) }} {{ form_row(registrationForm.lastName) }}
        </div>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }} 
        {{ form_row(registrationForm.dateOfBirthEdit) }}
        {{ form_row(registrationForm.sexe) }}
        {{ form_row(registrationForm.posterFile) }}

        <div class="mt-3 d-flex flex-column align-items-center">
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-check fa-beat"></i></button>
        </div>
    {{ form_end(registrationForm, {'render_rest': false}) }}
</div>
{% endblock %}
