{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center" style="margin-top:140px;">
        {{ form_start(EditProfileFormType, {'attr': {'enctype': 'multipart/form-data'}}) }}

            <div class="d-flex"> 
                {{ form_row(EditProfileFormType.firstName) }} {{ form_row(EditProfileFormType.lastName) }}
            </div>
            {{ form_row(EditProfileFormType.plainPassword) }} 
            {{ form_row(EditProfileFormType.dateOfBirth) }}
            {{ form_row(EditProfileFormType.sexe) }}
            {{ form_row(EditProfileFormType.imageFile.file) }}
            {{ form_row(EditProfileFormType._token)}}

            <div class="mt-3 d-flex flex-column align-items-center">
            <button  aria-label="valider" type="submit" class="btn btn-primary"><i class="fa-solid fa-check fa-beat"></i></button>
            </div>

        {{ form_end(EditProfileFormType,{'render_rest': false})}} 
        {# render_rest : permet de ne pas afficher les autres champs #}

    </div>
{% endblock %}
