{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="mt-5 p-5 col-8 mx-auto align-items-center">

    {# Afficher les messages flash #}
    {% for notice in app.flashes('confirmation') %}
        <div class="alert alert-success">
        {{ notice }}
        </div>
    {% endfor %}

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a aria-label="déconnexion" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="h2 mt-5 text-center">Connectez vous :</h1>
        <label class="mt-3" for="inputEmail">Mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label class="mt-3" for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <a aria-label="mot de passe oublié" href="{{ path('app_forgot_password_request') }}" > Mot de passe oublié </a>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">

        <div class="mt-3 d-flex flex-column align-items-center">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
                <button class="btn btn-lg btn-primary" type="submit" > Se connecter </button>
            </div>    
        </div>
    </form>
</div>
{% endblock %}
