{% extends 'base.html.twig' %}

{% block meta_description %}	Bienvenue sur notre blog ! {% endblock %}

{% block title %}Page d'accueil{% endblock %}

{# commentaire #}

{% block body %}

	<div class="side-bar custom-shadow mt-1 ps-1 pt-4">
	    
		<div class="logo">		</div>
		<div class="d-flex align-items-center ps-5">
			<img class="mb-3" src="{{ asset('build/images/profile.jpg') }}" style="width:150px; border-radius:100%;" alt="nicolas">
			<a class="fst-italic ps-3" href="https://nicolaspereire.fr"> Nicolas PEREIRE </a>
		</div>

		<div class="list-categories">
			<ul>
				{% for category in listCategories %}
					<div class="separator" style="height:2px;background:rgba(255,255,255, 0.05);"> </div>
					<li class="my-3">
						<a class="text-primary-emphasis" href="{{ path('show_articles_by_category', {id : category.id}) }}">
							{{category.name}} </a>
					</li>
				{% endfor %}
				<div class="separator " style="height:2px;background:rgba(255,255,255, 0.05);"> </div>
			</ul>
			{% if is_granted('ROLE_ADMIN') %}      
			<a href="{{path('ajout_category')}}" class="ms-4 btn btn-warning"> Creer une nouvelle catégorie </a>
    		{% endif %}
					
				

		</div>
	</div>


	<div class="main-content px-5">

		<div class="inner-content">

	        {# Afficher les messages flash #}
			{% for notice in app.flashes('confirmation') %}
				<div class="alert alert-success">
				{{ notice }}
				</div>
			{% endfor %}

			{% if is_granted('ROLE_ADMIN') %}      
			<a href="{{path('ajout_article')}}" class="btn btn-warning"> Creer un nouvel article </a>
			{% endif %}

			<h1 class="mb-5 text-primary">
				Nos derniers articles
			</h1>



			{% for article in listArticles %}

				<div class="article d-flex my-3 cursor-pointer">
					<a class="flex-column  text-decoration-none text-reset" href="{{ path('show_article_by_id', { id : article.id }) }}">
						<img class="custom-shadow me-3" src="{{ asset('images/articles/' ~ article.picture ) }}"/>
						{# <div class="ms-4 "></div> #}
						<div class="flex-column ps-2">
												<p class="text-body-secondary mb-1 fst-italic" style="font-size:12px">{{ article.category }} - {{ article.date|date("d-m-Y") }}</p>

							<h3 class="text-primary-emphasis">{{ article.title | raw}}</h3>
							<p class="mb-2 text-body-secondary"> {{ article.catchPhrase }} </p>
					</a>
							<div>
							<p class="text-body-secondary mb-1"> Partager l'article : </p>
								<a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}&t={{ article.title}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
								<img src="{{ asset('build/images/fb_logo.png') }}" alt="fb_logo" class="social mb-3">
								</a>
								<a href="https://twitter.com/share?url={{ app.request.uri }}&t={{ article.title}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
								<img src="{{ asset('build/images/twitter_logo.png') }}" alt="twitter_logo" class="social mb-3">
								</a>
								<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}&t={{ article.title}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
								<img src="{{ asset('build/images/linkedin_logo.png') }}" alt="linkedin_logo" class="social mb-3">
								</a>
							
							</div>
						</div>
					
				</div>
				<div class="separator mt-5 mb-5" style="height:2px;background:rgba(255,255,255, 0.05);"> </div>
			{% endfor %}
		</div>

		<div class="navigation">
			{{ knp_pagination_render(listArticles) }}
		</div>
	</div>

{% endblock %}