{% extends 'base.html.twig' %}

{% block meta_description %}
{% endblock %}

{% block title %}Blog de Nicolas PEREIRE
{% endblock %}

{% block body %}

{# AFFICHE TOUTES LES CATEGORIES EN BDD #}
	<div class="side-bar side-shadow mt-1 ps-1 pt-4">
		<div class="list-categories">
			<ul>
				{% for category in listCategories %}
					<li class="my-3">
						<a aria-label="article par catégorie" class="text-primary-emphasis" href="{{ path('show_articles_by_category', {id : category.id}) }}"> {{category.name}}</a>
						<div class="separator mt-3" style="height:2px;background:rgba(255,255,255, 0.05);"></div>
					</li>
				{% endfor %}
			</ul>
			{% if is_granted('ROLE_ADMIN') %}      
						<a aria-label="ajouter une catégorie" href="{{path('ajout_category')}}" class="ms-4 btn btn-warning"> Creer une nouvelle catégorie </a>
			    		{% endif %}
		</div>
	</div>

	<div
		class="main-content px-5">
		
		{# Permet d'ajouter un article sans passer par le back office #}
		{% if is_granted('ROLE_ADMIN') %}      
					<a aria-label="creer un nouvel article" href="{{path('ajout_article')}}" class="btn btn-warning mb-3"> Creer un nouvel article </a>
				{% endif %}


		<h1 class="mb-3 text-primary">
			Nos derniers articles
		</h1>

		{% for notice in app.flashes('confirmation') %}
		<div class="mx-auto justify-content-center" style="width:30%">
		{# Afficher les messages flash #}
			<div class="alert alert-success text-center mt-3" id="confirmation-message">
			{{ notice }}
			</div>
		</div>
		{% endfor %}


{# AFFICHE TOUS LES ARTICLES EN BDD #}
		{% for article in listArticles %}
			<div class="d-flex  {% if loop.index <= 3 %}first-element{% endif %} slide-from-bottom" style="width:100%;">
				<div class="articleMain d-flex   my-3 cursor-pointer" style="">
					<a aria-label="article par id" class=" text-decoration-none text-reset" href="{{ path('show_article_by_id', { id : article.id }) }}">
						<img class="custom-shadow me-3 imgArticle" src="{{ asset('images/articles/' ~ article.picture ) }}" alt="photo-article"/>
					</a>
			{# ICON FOR LIKE AND SAVE #}
					{# <div class="d-flex justify-content-end me-3">
                        <a href="#" class="fav-icon">
							<i class="fa-regular fa-heart fa-xl me-2" style="color: #6ea8fe;"></i>
                        	<i class="fa-solid fa-heart fa-xl me-2" style="color: #6ea8fe;"></i>
						</a>
                        <a href="#" class="fav-icon">
							<i class="fa-regular fa-bookmark fa-xl me-2" style="color: #6ea8fe;"></i>
							<i class="fa-solid fa-bookmark fa-xl" style="color: #6ea8fe;"></i>
						</a>
                    </div> #}
					<div class="text-body-secondary mb-1 fst-italic ps-2" style="font-size:12px">
						<a aria-label="article par catégorie" href="{{ path('show_articles_by_category', { id : article.category.id}) }}">
							{{ article.category }}
							-
						</a>
						{{ article.date|date("d-m-Y") }}
						<a aria-label="article par id" href="{{ path('show_article_by_id', { id : article.id }) }}">
							<h2 class="h3 fst-normal text-primary-emphasis">{{ article.title | raw}}</h2>
							{# raw : interprete les balises html #}
						</a>
						<p class="mb-2 fst-normal text-body-secondary" style="font-size:16px; word-wrap: break-word;">{{ article.catchPhrase }} </p>


						{# RESAUX SOCIAUX #}
						{#  #}
						<div class="d-flex flex-column fst-normal">
							<p class="text-body-secondary mb-1"> Partager l'article </p>
							<div class="d-flex">
								<div class="reseaux-sociaux p-1">
									<a aria-label="Partager sur Facebook" href="http://www.facebook.com/sharer/sharer.php?u=https://blog.nicolaspereire.fr/article/{{article.id}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
										<img src="{{ asset('build/fb_logo.png') }}" alt="fb_logo" class="social mb-3">
									</a>
								</div>
								<div class="reseaux-sociaux p-1">
									<a aria-label="Partager sur Twitter" href="https://twitter.com/share?url=https://blog.nicolaspereire.fr/article/{{article.id}}&via=lareponsenumerique&text={{article.title}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
										<img src="{{ asset('build/x_logo.png') }}" alt="twitter_logo" class="social mb-3">
									</a>
								</div>
								<div class="reseaux-sociaux p-1">
									<a aria-label="Partager sur LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=https://blog.nicolaspereire.fr/article/{{article.id}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
										<img src="{{ asset('build/linkedin_logo.png') }}" alt="linkedin_logo" class="social mb-3">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="separator mt-5 mb-5" style="height:2px;background:rgba(255,255,255, 0.05);"></div>
		{% endfor %}

		<div class="d-flex justify-content-center">
			{{ knp_pagination_render(listArticles) }}
		</div>

		{# NEWSLETTER  #}

		{{ render(controller('App\\Controller\\NewsLetterController::index', {}, {'controller_name': 'App\\Controller\\HomeController' })) }}


	</div>

{% endblock %}
