{% extends 'base.html.twig' %}

{% block meta_description %}	Bienvenue sur notre blog ! {% endblock %}

{% block title %}Page d'accueil{% endblock %}

{# commentaire #}

{% block body %}

	<div class="side-bar custom-shadow mt-1 p-1">
	    
		<div class="logo"></div>
		<div class="photo"></div>
		<div class="list-categories">

			<ul>
				<li>
					<a href="{{path('ajout_category')}}" class="btn btn-primary"> Creer une nouvelle catégorie </a>
				</li>
				{% for category in listCategories %}
					<li class="my-3">
						<a class="text-primary" href="{{ path('show_articles_by_category', {id : category.id}) }}">
							{{category.name}}
						</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	</div>


	<div class="main-content px-5">

		<div class="inner-content">

	        {# Afficher les messages flash #}
			{% for notice in app.flashes('confirmation') %}
				<div class="alert alert-success">
				{{ notice }}
				</div>
			{% endfor %}

			<h1 class="mb-5 text-primary">
				Nos derniers articles
			</h1>

			{% for article in listArticles %}

				<div class="article d-flex my-3 cursor-pointer">
					<a class="d-flex text-decoration-none text-reset" href="{{ path('show_article_by_id', { id : article.id }) }}">
						<img class="custom-shadow" src="{{ asset('images/articles/' ~ article.picture ) }}"/>
						<div class="ms-4 "></div>
						<div class="d-flex flex-column ps-2">
							<h3 class="text-primary-emphasis">{{ article.title | raw}}</h3>
							<p class="mb-3 text-body-secondary"> {{ article.catchPhrase }} </p>
							<p style="font-size:13px">{{ article.date|date("d-m-Y") }}</p>
						</div>
					</a>
				</div>
				<div class="separator mt-5 mb-5" style="height:2px;background:rgba(255,255,255, 0.05);"> </div>
			{% endfor %}
		</div>

		<div class="navigation">
			{{ knp_pagination_render(listArticles) }}
		</div>
	</div>

{% endblock %}