{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="p-2 col-md-8 mx-auto align-items-center" style="margin-top:125px !important">
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.firstName) }}
		{{ form_row(registrationForm.lastName) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword) }}
		{{ form_row(registrationForm.dateOfBirth) }}
		{{ form_row(registrationForm.sexe) }}
		{{ form_row(registrationForm.posterFile) }}


		{{ form_row(registrationForm.agreeTerms, {label: '<a href="' ~ path("app_cgu") ~ '">' ~ "Accepter nos conditions d'utilisation" ~ '</a>',label_html: true }) }}

		<div class="d-flex justify-content-center">
			<button type="submit" class="btn btn-primary">S'inscrire</button>
			<a aria-label="annuler" class="btn btn-light" href="{{ path('app_home')}}">Retour</a>
		</div>


		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
