{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block meta_description %}
	{# TWITTER #}
	<meta name="twitter:card" content="photo" />
	<meta name="twitter:image:alt" content="{{article.title}}">
	<meta name="twitter:title" content="{{article.title}}">
	<meta name="twitter:description" content="{{article.chapo}}">
	<meta name="twitter:image" content="{{ article.picture }}">
	<meta name="twitter:domain" content="https://blog.nicolaspereire.fr">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ article.URL }}">
	<meta property="og:title" content="{{article.title}}">
	<meta property="og:description" content="{{article.chapo}}">
	<meta property="og:image" content="{{ article.picture }}">

	{# LINKEDIN #}
	<meta name="author" content="{{article.author}}">
	<meta name="publish_date" property="og:publish_date" content="{{ article.date|date('Y-m-d') }}">
{% endblock %}


{# {% form_theme form_comment 'bootstrap_5_layout.html.twig' %} #}

{% block body %}

{# Fil d'ariane #}
	<nav class="ms-4" style="--bs-breadcrumb-divider: '>'; margin-top: 100px" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{ path('app_home')}}">Accueil</a></li>
			<li class="breadcrumb-item"><a href="{{ path('show_articles_by_category', { id : article.category.id}) }}">{{ article.category }}</a></li>
			<li class="breadcrumb-item active text-primary-emphasis" aria-current="page">{{ article.title }}</li>
		</ol>
	</nav>
	

	<div class="col-md-8 d-flex flex-column mx-auto align-items-center text-body-secondary" style="margin-top:70px">
		{# Afficher les msg flash#}
		{% for msg in app.flashes('confirmation') %}
			<div class="alert alert-success text-center mt-3" id="confirmation-message">
				{{ msg }}
			</div>
		{% endfor %}

		<h1 class="mt-5 mb-5 text-center">
			{{ article.title}}
		</h1>

		<div class="text-center"> 
			<p class="mb-3"> {{ article.catchPhrase }} </p>
		</div>

		<div class="article  d-flex justify-content-center mb-3">
			<img class="custom-shadow" src="{{ asset('images/articles/' ~ article.picture ) }}" alt="photo {{ article.legendMainPicture }}"/>
		</div>

{# 
RESEAUX SOCIAUX
 #}
		<p class="mt-3 text-body-secondary separator"> Partager l'article </p>
			<div class="d-flex">
				<div class="reseaux-sociaux">
					<a aria-label="Partager sur Facebook" href="http://www.facebook.com/sharer/sharer.php?u=https://blog.nicolaspereire.fr/article/{{article.id}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
						<img src="{{ asset('build/fb_logo.png') }}" alt="fb_logo" class="social-article mb-3">
					</a>
				</div>
				<div class="reseaux-sociaux">
					<a aria-label="Partager sur Twitter" href="https://twitter.com/share?url=https://blog.nicolaspereire.fr/article/{{article.id}}&via=lareponsenumerique&text={{article.title}}"
                        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
						<img src="{{ asset('build/x_logo.png') }}" alt="twitter_logo" class="social-article mb-3">
					</a>
				</div>
				<div class="reseaux-sociaux">
					<a aria-label="Partager sur LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=https://blog.nicolaspereire.fr/article/{{article.id}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
						<img src="{{ asset('build/linkedin_logo.png') }}" alt="linkedin_logo" class="social-article mb-3">
					</a>
				</div>
			</div>

{# SEULEMENT POUR ADMIN sans passer par le back office #}

        {# <div class="mt-4">
        {% if is_granted('ROLE_ADMIN') %}
			<a aria-label="Modifier" href="{{path('modify_article', { id : article.id} )}}" class="btn btn-warning">
				Modifier
			</a>
			<a aria-label="Supprimer" href="{{path('delete_article', { id : article.id} )}}" class="btn btn-danger">
				Supprimer
			</a>
		{% endif %}
        </div> #}


		<div id="description" class="mt-5" style="width:80%">
			{{article.description | raw}}
		</div>

		<a aria-label="Site de l'auteur" class="mt-5 mb-3 text-end fst-italic" style="font-size:14px; color:rgba(173, 181, 189, 0.75)" href="{{ article.authorWebsite }}">
			{{ article.author }}, le {{ article.date|date('d-m-Y') }} {# permet de parser une date #}
		</a>
		<div class="separator mt-5" style="width:30%; height:1px; background:rgba(173,173,173,1)"></div>


{# 
COMMENTAIRES EXISTANTS 
#}

	<div class="col-md-8">
		{% for comment in comments %}
			<div class="mt-5 p-2 col-8 mx-auto custom-shadow" style="border-radius:10px">
				<p class="fst-italic text-end" style="font-size:12px">{{ comment.date|date("d-m-Y") }}</p>
				<div class="row mb-4 p-1">
					{% if comment.user.imageName is not null %}
						<div class="col-md-2">
						<img src="{{ asset('images/user/' ~ comment.user.imageName) }}" class="align-self-start ms-3" style="width:50px" alt="{{ comment.user.firstName }} {{ comment.user.lastName }}">
						</div>
					{% else %}
            			<img alt="profil-picture" src="https://picsum.photos/50/50" style="width:50px;object-fit:contain;padding:0;margin-left: 1rem">
					{% endif %}
					<div class="col-md-9">
						{# <p class="mt-0">{{ comment.user.firstName }} {{ comment.user.lastName|slice(0, 1) }}</p> #}
						<p class="mt-0">{{ comment.user.username }}</p>
						<p style="word-break: normal">« {{ comment.comment }} »</p>
					</div>
				</div>
			</div>
		{% endfor %}





{# 
NOUVEAUX COMMENTAIRES 
#}

{# {{ dump(app.user) }} #}

{% if app.user is not null %}
	<div class="mt-5 mx-auto" style="width:80%" id="newComent">
    {{ form_start(form_comment) }}
    {{ form_row(form_comment.comment) }}
    {{ form_row(form_comment.ajouter) }}
    {{ form_end(form_comment) }}
{% else %}
    
		<div class="mt-5 d-flex justify-content-center">
			<a href="{{ path('app_login') }}" class="btn btn-lg btn-primary mb-2" role="button">
            Se connecter pour commenter
        	</a>
		</div>
	</div>
{% endif %}











	</div>

{# 
ARTICLES SIMILAIRES
 #}

{% if relatedArticles is not empty %}
	<div class="separator mx-auto mt-5 mb-5" style="width:50%; height:1px; background:rgba(173,173,173,1)"></div>
	<div class="row mx-auto col-md-10 p-1 justify-content-center">
		<h2 class="mb-4 text-center text-body-secondary"> Articles similaires </h2>
		
		{% for relatedArticle in relatedArticles %}
			<div class="d-flex justify-content-center m-2 p-1" style="width:auto">
				<a aria-label="Articles similaires" href="{{ path('show_article_by_id', { id : relatedArticle.id }) }}">
					<div class="card custom-shadow" style="width:18rem; height:20rem;">
						<img src="{{ asset('images/articles/' ~ relatedArticle.picture ) }}" style="width:100%;"/>
						<div class="card-body">
							<h5 class="card-title">{{ relatedArticle.title }}</h5>
							{# <p class="card-text"></p> #}
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endif %}


{% endblock %}