{% extends 'base.html.twig' %}

{% block meta_description %} {% endblock %}
{% block title %}{{ article.title }}{% endblock %}

{% form_theme form_comment 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <div class="mt-5 pt-5 px-5 d-flex flex-column align-items-center">

    {# Afficher les msg flash#}
    {% for msg in app.flashes('confirmation') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('modify_article', { id : article.id} )}}" class="btn btn-warning"> Modifier </a>
    <a href="{{path('delete_article', { id : article.id} )}}" class="btn btn-danger"> Supprimer </a>
    {% endif %}

        <h1 class="mb-3 text-center"> {{ article.title | raw}} </h1>

        <button class="btn btn-primary mb-3"> PARTAGER CET ARTICLE </button>

        <p class="mb-3"> {{ article.catchPhrase }} </p>
        
        <div class="articleMain">
            <img class="custom-shadow" src="{{ asset('images/articles/' ~ article.picture ) }}" alt="photo {{ article.category }}"/>

        </div>

        <div class="mt-5 fw-light"> {{article.description | raw}} </div>

        {# directive twig : petite fonctionalité twig qui permet de parser une date #}
        <p class="mb-3 text-right fst-italic"> {{ article.author }} {{ article.date|date('d-m-Y') }} </p>

        <div class="separator mt-5" style="height:2px; background:rgba(255,255,255, 0.05)"> </div>



        
        {% for comment in comments %}
            <div class="mt-5 ps-5 col-8 mx-auto border">
                
                <p class="fw-bold">{{ comment.date|date("d-m-Y") }}
                {{ comment.user.firstName }}
                {{ comment.user.lastName }}</p>

                <p class="font-weight-light">{{ comment.comment }}</p>
            </div>

        {% endfor %}

        <div class="separator mt-5 mb-5" style="height:2px;background:rgba(255,255,255, 0.05);"> </div>

        {% if app.user %}
        <div class="col-8">
                {{ form(form_comment) }}
        </div>

        {% endif %}

    </div>

    <div class="mt-5 ps-5 mx-auto border">
        <h2> Articles similaires </h2>

        <div class="d-flex border">
            {% for relatedArticle in relatedArticles %} 

                <div class="article d-flex my-3 border mx-auto">
                    <a class="d-flex text-decoration-none text-reset" href="{{ path('show_article_by_id', { id : relatedArticle.id }) }}">
                        <img src="{{ asset('images/articles/' ~ relatedArticle.picture ) }}" />
                        <div class="d-flex flex-column ps-2">   
                            <h6>{{ relatedArticle.title }} - {{ relatedArticle.date|date("d-m-Y") }} </h6>
                        </div>
                    </a>
                </div>


            {% endfor %}   


        </div>
    
    </div>

{% endblock %}
