{% extends 'base.html.twig' %}

{% block meta_description %} {{ article.chapo }} {% endblock %}
{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <h1> {{ article.title }} </h1>

    <p> {{ article.catchPhrase }} </p>

    <button class="btn btn-primary"> PARTAGER CET ARTICLE </button>

    <div> {{ article.author }} {{ article.date|date('d-m-Y') }} </div>

    <div>
        <img src="{{ article.picture }}" alt="{{ article.chapo }}" title="{{ article.chapo }}" />
        <p> {{ article.legendMainPicture }} </p>
    </div>


{% endblock %}
