{% extends 'base.html.twig' %}

{% block meta_description %}{% endblock %}
{% block title %}
	{{ article.title }}
{% endblock %}

{% form_theme form_comment 'bootstrap_5_layout.html.twig' %}

{% block body %}

	<div class="mt-5 pt-5 px-5 d-flex flex-column align-items-center text-body-secondary">

		{# Afficher les msg flash#}
		{% for msg in app.flashes('confirmation') %}
			<div class="alert alert-success">
				{{ msg }}
			</div>
		{% endfor %}

		<h1 class="mt-5 mb-5 text-center">
			{{ article.title}}
		</h1>

		<div class="text-center"> 
			<p class="mb-3"> {{ article.catchPhrase }} </p>
		</div>

		<div class="article mb-3">
			<img class="custom-shadow" src="{{ asset('images/articles/' ~ article.picture ) }}" alt="photo {{ article.category }}"/>
		</div>

{# 
RESEAUX SOCIAUX
 #}
		<p class="mt-3 text-body-secondary separator"> Partager cet article </p>
		{# <div class="d-flex"> #}
			<ul>
				<a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}&t={{ article.title}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
				<img src="{{ asset('build/images/fb_logo.png') }}" alt="fb_logo" class="social mb-3">
				</a>
				<a href="https://twitter.com/share?url={{ app.request.uri }}&t={{ article.title}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
				<img src="{{ asset('build/images/twitter_logo.png') }}" alt="twitter_logo" class="social mb-3">
				</a>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}&t={{ article.title}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
				<img src="{{ asset('build/images/linkedin_logo.png') }}" alt="linkedin_logo" class="social mb-3">
				</a>
			</ul>
		{# </div> #}

{# SEULEMENT POUR ADMIN #}

        <div class="mt-4">
        {% if is_granted('ROLE_ADMIN') %}
			<a href="{{path('modify_article', { id : article.id} )}}" class="btn btn-warning">
				Modifier
			</a>
			<a href="{{path('delete_article', { id : article.id} )}}" class="btn btn-danger">
				Supprimer
			</a>
		{% endif %}
        </div>


		<div id="description" class="mt-5" style="width:90%">
			{{article.description | raw}}
		</div>

		{# directive twig : petite fonctionalité twig qui permet de parser une date #}
		<p class="mt-2 mb-3 text-end fst-italic">
			{{ article.author }}, le {{ article.date|date('d-m-Y') }}
		</p>

		{% if app.user %}
		<div class="separator mt-5" style="width:30%; height:1px; background:rgba(173,173,173,1)"></div>
		{% endif %}

{# 
COMMENTAIRES 
#}
		{% for comment in comments %}
			<div class="mt-5 p-2 col-8 mx-auto custom-shadow" style="border-radius:10px">

				<p class="fst-italic">{{ comment.date|date("d-m-Y") }} de {{ comment.user.firstName }} {{ comment.user.lastName }}</p>

				<p class="ms-5 font-weight-light">{{ comment.comment }}</p>
			</div>
			<div class="separator mt-5" style="width:30%; height:1px; background:rgba(173,173,173,1)"></div>

		{% endfor %}


		{% if app.user %}
			<div class="col-8 mt-5">
				{{ form(form_comment) }}
			</div>
		{% endif %}

		</div>

{# 
ARTICLES SIMILAIRES
 #}

		{% for relatedArticle in relatedArticles %}
			<div class="separator mx-auto mt-5 mb-5" style="width:50%; height:1px; background:rgba(173,173,173,1)"></div>

			<div class="mx-auto mb-5 d-flex flex-column align-items-center" style="width:80%">
				<h2 class="mb-3 text-center text-body-secondary">
					Articles similaires
				</h2>

				<a href="{{ path('show_article_by_id', { id : relatedArticle.id }) }}">
					<div class="card custom-shadow" style="width:18rem;">
						<img src="{{ asset('images/articles/' ~ relatedArticle.picture ) }}" style="width:100%;"/>
						<div class="card-body">
							<h5 class="card-title">{{ relatedArticle.title }}</h5>
							<p class="card-text"></p>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}

{% endblock %}