{% extends 'base.html.twig' %}

{% block title %}Page de recherche{% endblock %}

{% block body %}



	<div class="main-content px-5">

{# Afficher les messages flash #}
			{% for notice in app.flashes('confirmation') %}
				<div class="alert alert-success text-center mt-3" id="confirmation-message">
				{{ notice }}
				</div>
			{% endfor %}

{# BOUTON POUR ADMIN sans asser par le back office #}
			{# {% if is_granted('ROLE_ADMIN') %}      
				<a aria-label="creer un nouvel article" href="{{path('ajout_article')}}" class="btn btn-warning mb-3"> Creer un nouvel article </a>
			{% endif %} #}


			<h1 class="mb-5 text-primary">
				Articles liés à la recherche ' {{search}} '
			</h1>

			{% for article in listArticles %}
				<div class="d-flex flex-column" style="width:100%;">
					<div class="articleMain d-flex my-3 cursor-pointer">
						<a aria-label="article par id" class="flex-column text-decoration-none text-reset" href="{{ path('show_article_by_id', { id : article.id }) }}">
							<img id="imgArticle" class="custom-shadow me-3" src="{{ asset('images/articles/' ~ article.picture ) }}" alt="photo-article"/>
						</a>
						<div class="text-body-secondary mb-1 fst-italic ps-2" style="font-size:12px">
							<a aria-label="article par catégorie" href="{{ path('show_articles_by_category', { id : article.category.id}) }}"> {{ article.category }} - </a> {{ article.date|date("d-m-Y") }}
							<a aria-label="article par id" href="{{ path('show_article_by_id', { id : article.id }) }}">
								<h2 class="h3 fst-normal text-primary-emphasis">{{ article.title | raw}}</h2>
								<p id="catchPhrase" class="mb-2 fst-normal text-body-secondary" style="font-size:16px"> {{ article.catchPhrase }} </p>
							</a>
							<div id="social" class="d-flex flex-column fst-normal">
								<p class="text-body-secondary mb-1"> Partager l'article : </p>
								<div class="">
									<a aria-label="partager sur facebook" href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}&t={{ article.title}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
										<img src="{{ asset('build/images/fb_logo.png') }}" alt="fb_logo" class="social mb-3">
									</a>
									<a aria-label="partager sur twitter" href="https://twitter.com/share?url={{ app.request.uri }}&t={{ article.title}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
										<img src="{{ asset('build/images/twitter_logo.png') }}" alt="twitter_logo" class="social mb-3">
									</a>
									<a aria-label="partager sur linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}&t={{ article.title}}" onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
										<img src="{{ asset('build/images/linkedin_logo.png') }}" alt="linkedin_logo" class="social mb-3">
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="separator mt-5 mb-5" style="height:2px;background:rgba(255,255,255, 0.05);"></div>
			{% endfor %}

		<div class="navigation">
			{{ knp_pagination_render(listArticles) }}
		</div>
	</div>

{% endblock %}